#footer {
    height: 72px;
    padding-top: 8px;
    background-color: #c0b5a5;
    font-family: 'Noto Serif JP', serif;
    border-top: 1px solid #422719; ;
}

.footer-nav {
    display: flex;
    justify-content: center;
    list-style: none;
    width: 100%;
}

.footer-list {
    margin-top: 16px;
    margin: 4px auto;
    width: calc(30%);
    text-align: center;
}

.footer-list a {
    text-decoration-line: none;
    color: #444444;
}

.footer-list a:hover {
    color: #ab6155;
}
