@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

#page-header {
    height: 112px;
    background-color: #c0b5a5;
    border-bottom: 1px solid #422719;
    font-family: 'Noto Serif JP', serif;

}

.page-rog {
    float: left;
    margin-top: 16px;
    margin-left: 64px;
}

.form {
    padding-right: 36px;
    padding-top: 16px;
    padding-bottom: 12px;
    display: flex;
    justify-content: flex-end;
}

.form-text {
    
    height: 24px;
    width: 280px;
    text-align: left;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    text-align: center;
    list-style: none;
    padding: 0 24px;
}

.nav-item a {
    text-decoration-line: none;
    font-size: 18px;
    color: #444444;
}

.nav-item span {
    text-align: center;
    display: block;
}

.nav-item a span {
    font-size: 8px;
}

.nav-item a:hover{
    color: #ab6155;
}

.nav-cart-icon {
    margin-right: 12px;
}

.mushi{
    font-size: 20px;
    color: #444444;
    padding: 6px;
    width: 3px 4px;

}