@import url("./header.css");
@import url("./footer.css");

#main {
    font-family: 'Noto Serif JP', serif;
    background-color: #fffff9;
}

.recommend {
  margin-top: 32px;
}

.recommend-primarytitle {
  text-align: center;
  font-size: 36px;
  margin-bottom: 60px;
}

.recommend-container {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 32px;
}

.recommend-section {
    display: flex;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column-reverse;
    text-align: center;
}

.recommend-item {
    font-size: 26px;
    padding: 8px 0;
    color: #b12704;
    font-family: 'Scheherazade', serif;
    margin: 0 5%;
}

.recommend-text {
    font-size: 15px;
    margin: 0 5%;
    vertical-align: top;
}

.recommend-title {
    font-size: 18px;
    padding: 8px 0;
    margin: 0 5%;
    vertical-align: top;
}

.recommend-image img {
    max-width: 90%;
}

.review {
    display: flex;
    padding: 4px 0;
    margin: 0 5%;
}

.small-star {
    color: #ffa41c;
    font-size: 14px;
}