@import url("/css/header.css");
@import url("/css/footer.css");

#main {
    font-family: 'Noto Serif JP', serif;
    background-color: #fffff9;
}

.detail {
    padding-top: 64px;
    overflow: hidden;
    margin-left: auto;   
    margin-right: auto;
    max-width: 70%;
    height: auto;
}

.detail-image img {
    float: left;
    max-width: 100%;
    width: 320px;
}

.detail-body {
    overflow: hidden;
}

.detail-body-title {
    font-size: 28px;
    margin-left: 16%;
    padding-bottom: 16px;
    border-bottom: 2px solid #d3cac8;
    margin-right: 11%;
}

.detail-body-title span {
    text-decoration-line: none;
    font-size: 20px;
    margin-left: 24px;
}

.review {
    display: flex;
    padding: 4px 0;
    margin-left: 16%;
    margin-bottom: 16px;
}

.small-star {
    color: #ffa41c;
    font-size: 14px;
}

.review-item {
    margin-left: 32px;
}

.review-item a {
    text-decoration: none;
}

.detail-body-description {
    font-size: 18px;
    padding: 8px;
    margin-left: 16%;
    box-sizing: border-box;
    line-height: 21px;
}

.detail-body-description span {
    box-sizing: border-box;
    margin-left: 40px;
}


.detail-body-text {
    margin-top: 40px;
    padding-bottom: 32px;
    margin-left: 16%;
}

.detail-body-text{
    background-color: #b12704;
    padding: 16px 20%;
    text-align: center;
}
.detail-body-text a {
    text-decoration-color: #b12704;
    color: #fff;
}

@media screen and (max-width:1080px) { 
    .detail{
        max-width: 100%;
    }

    .detail-image img{
        float: none;
        text-align: center;
        width: 400px;
        max-width: 80%;
    }
    .detail-image{
        text-align: center;
    }
    .detail-body-title{
        max-width: 100%;
        width: 80%;
        margin: 0 auto;
        padding-top: 24px;
    }
    .detail-body-description{
        text-align: left;
        margin: 0 auto;
        max-width: 100%;
        width: 80%;
    }
    .review{
        margin: 0 auto;
        max-width: 100%;
        width: 80%;
    }
    .detail-body-text  {
        max-width: 90%;
        margin: 24px 10% 0;
        text-align: center;
    }
}


.summary {
    margin-top: 64px;
}

.summary-title {
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 24px;
    font-size: 26px;
    margin-bottom: 40px;
    border-bottom: 2px solid #d3cac8;
    text-align: center;
}

.summary-text {
    max-width: 68%;
    margin: 15px auto 0;
    line-height: 26px;
}

.writer {
    margin-top: 124px;
}

.writer-title {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 26px;
    margin-bottom: 40px;
    border-bottom: 2px solid #d3cac8;
    text-align: center;
}

.writer-text {
    max-width: 68%;
    margin: 24px auto 0;
    line-height: 26px;
}

.others {
    margin-top: 80px;
}

.others-title {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 24px;
    margin-bottom: 40px;
    border-bottom: 2px solid #d3cac8;
    padding-top: 24px;
    text-align: center;
}

.others-container {
    display: flex;
    margin-left: auto;   
    margin-right: auto;
    max-width: 70%;
    padding-top: 16px;
    flex-wrap: wrap;
    text-align: center;
}

.others-body {
    width: calc(25%);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column-reverse;
    text-align: center;
}
.others-body-image{
    margin: 0 auto;
}
.others-body-image img {
    max-width: 90%;
}

.others-body-item {
    font-size: 26px;
    margin: 0 auto;
    color: #b12704;
    font-family: 'Scheherazade', serif;
}

.others-body-title {
    font-size: 16px;
    padding: 4px 0;
    margin: 0 auto;
}

.others-body-text {
    font-size: 14px;
    padding: 4px 0;
    margin: 0 auto;
}

.review2 {
    display: flex;

    margin: 0 auto;
}

.small-star2 {
    color: #ffa41c;
    font-size: 14px;
}

@media screen and (max-width:900px) {
    
    .others-body-image {
        max-width: 100%;
        margin: 0 auto;
    }
    .others-body {
        width: calc(50%);
  }
}
